body {
  background-color: white;
  box-sizing: border-box;
}

/** Main **/

main {
  display: flex;
  flex-direction: column;
  background-color: rgb(249, 249, 249);
}

/** Banner **/

.banner-container {
  background-image: url(../public/home-banner.jpg);
  background-position: center;
}

.banner-container .tagline {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 50px 20px;
}

.tagline h1 {
  font-size: 64px;
  line-height: 120%;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 10px 0;
}

/** Description **/

.description {
  display: flex;
  padding: 50px 20px;
  justify-content: space-between;
  padding-bottom: 150px;
}

.description-text h2 {
  font-size: 20px;
  line-height: 140%;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  color: rgb(28, 34, 148);
  text-align: left;
}

.description-text p {
  color: rgb(63, 66, 74);
  line-height: 160%;
  font-size: 16px;
  font-family: "Space Mono", monospace;
  margin: 0;
}

.description-text b {
  display: inline;
  color: rgb(74, 80, 187);
  font-family: "Space Mono", monospace;
}

.description-text-button {
  display: inline-flex;
  font-size: 12px;
  line-height: 160%;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 10px 20px;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-box-align: center;
  align-items: center;
  font-family: "Work Sans", sans-serif;
  background-color: transparent;
  color: rgb(74, 80, 187);
}

.description-text-button:hover {
  background-color: rgb(229, 229, 229);
  border-radius: 5px;
}

.description-img {
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
  min-height: 200px;
  order: 2;
  padding: 0 0 0 50px;
  align-items: stretch;
}

.description-img img {
  height: 300px;
}

/** Statistic **/

.Statistic {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.08) 0 0 53px;
  padding: 50px;
  margin-bottom: 50px;
}

.Statistic-text {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 50px;
}

.Statistic-text h2 {
  text-align: center;
  font-size: 24px;
  line-height: 140%;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  color: rgb(28, 34, 148);
}

.Statistic-text p {
  color: rgb(45, 48, 55);
  text-align: center;
  line-height: 160%;
  font-size: 16px;
  font-family: "Space Mono", monospace;
  margin: 0;
}

.Statistic-blocks {
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.Statistic-blocks-block {
  margin: 10px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgb(74, 80, 187);
  width: 30%;
  padding: 20px;
}

.Statistic-blocks h1 {
  font-size: 24px;
  line-height: 140%;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  color: rgb(255, 255, 255);
  text-align: left;
}

.Statistic-blocks p {
  color: white;
  line-height: 160%;
  font-size: 16px;
  font-family: "Space Mono", monospace;
  word-break: break-word;
}

/** Partners **/

.partners-container {
  padding: 50px 20px;
}

.partners-title-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.partners-title-button h2 {
  font-size: 24px;
  line-height: 140%;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  color: rgb(28, 34, 148);
  text-align: left;
}

.partners-title-button a {
  display: inline-flex;
  font-size: 12px;
  line-height: 160%;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 10px 20px;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-box-align: center;
  align-items: center;
  font-family: "Work Sans", sans-serif;
  background-color: transparent;
  color: rgb(74, 80, 187);
}

.partners-title-button a:hover {
  background-color: rgb(229, 229, 229);
  border-radius: 5px;
}

.partners-img img {
  max-height: 170px;
  max-width: 200px;
}

/** Support developers **/

.donate {
  display: flex;
  padding: 50px 20px;
}

/** Description **/

.donate-description {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-right: 80px;
  box-sizing: border-box;
}

.donate-description h1 {
  font-size: 24px;
  line-height: 140%;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  color: rgb(28, 34, 148);
  text-align: left;
}

.donate-description p {
  color: rgb(45, 48, 55);
  text-align: left;
  line-height: 160%;
  font-size: 16px;
  font-family: "Space Mono", monospace;
  margin: 0;
  word-break: break-word;
}

/** Form **/

.donate-form form {
  box-sizing: border-box;
  padding: 0;
}

.donate-form-labels input {
  cursor: pointer;
  margin-right: 10px;
}

.donate-form-labels label {
  cursor: pointer;
  display: flex;
  margin-right: 20px;
  color: rgb(28, 34, 148);
  text-align: left;
  line-height: 160%;
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  white-space: pre-wrap;
  word-break: break-word;
}

.donate-form-labels {
  display: flex;
  margin-bottom: 20px;
}

.donate-form-input label {
  color: rgb(28, 34, 148);
  text-align: left;
  line-height: 160%;
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  margin: 0;
  white-space: pre-wrap;
  word-break: break-word;
}

.donate-form-input ul {
  display: flex;
  margin: 20px 0;
}

.donate-form-input li {
  display: flex;
  border: 1px solid rgb(28, 34, 148);
  color: rgb(28, 34, 148);
  padding: 15px 20px;
  cursor: pointer;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  font-family: "Work Sans", sans-serif;
}

.donate-form-input li:focus {
  display: flex;
  border: 1px solid rgb(28, 34, 148);
  color: white;
  padding: 15px 20px;
  cursor: pointer;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: rgb(28, 34, 148);
  font-family: "Work Sans", sans-serif;
}

.donate-form-input input {
  width: 100%;
  border-top: none;
  border-right: none;
  border-left: none;
  border-image: initial;
  border-bottom: 1px solid rgb(28, 34, 148);
  margin: 20px 0;
  font-size: 18px;
  padding: 5px;
  box-sizing: border-box;
  color: rgb(28, 34, 148);
  background-color: transparent;
  outline: none;
}

.donate-form button {
  display: inline-flex;
  font-size: 12px;
  line-height: 160%;
  text-decoration: none;
  background-color: rgb(74, 80, 187);
  color: white;
  border: 1px solid transparent;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 10px 20px;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-box-align: center;
  align-items: center;
  font-family: "Work Sans", sans-serif;
}

/** Contact us **/

.contact {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
  background-color: rgb(74, 80, 187);
  padding: 50px 100px;
}

.contact-text h1 {
  font-size: 24px;
  line-height: 140%;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  color: rgb(255, 255, 255);
  text-align: left;
}

.contact-text p {
  color: white;
  text-align: left;
  line-height: 160%;
  font-size: 16px;
  font-family: "Space Mono", monospace;
  margin: 0 0 20px;
  word-break: break-word;
}

.contact-form label {
  color: white;
  text-align: left;
  line-height: 160%;
  font-size: 16px;
  font-family: "Space Mono", monospace;
  margin: 20px 0 5px;
  word-break: break-word;
}

.contact-form-info {
  border: 1px solid white;
  border-radius: 3px;
  outline: none;
  background-color: transparent;
  padding: 10px 5px;
  color: white;
  width: 100%;
}

.contact-form textarea {
  border: 1px solid white;
  border-radius: 3px;
  outline: none;
  padding: 10px 5px;
  color: white;
  background-color: transparent;
  margin-bottom: 20px;
  width: 100%;
}

.contact-form button {
  display: inline-flex;
  font-size: 12px;
  line-height: 160%;
  text-decoration: none;
  background-color: white;
  color: rgb(45, 48, 55);
  border: 1px solid transparent;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 10px 20px;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-box-align: center;
  align-items: center;
  font-family: "Work Sans", sans-serif;
}
