@import url("./something.css");
@import url("./digitalents.css");

/* Logo styling */

.navbar-logo {
  margin-left: 100px;
  display: flex;
  align-items: center;
}

/* Navigation bar */

.navbar {
  display: flex;
  justify-content: space-between;
  padding-right: 40px;
  height: 100px;
}

.navbar nav {
  display: flex;
  align-items: center;
}

.navbar-pages {
  display: flex;
  align-items: center;
}

.navbar-pages a {
  font-size: 14px;
  line-height: 160%;
  text-transform: uppercase;
  padding: 10px 20px;
  font-family: "Work Sans", sans-serif;
  height: 100%;
  text-decoration: none;
}

.navbar-pages-hover {
  color: rgb(127, 127, 127);
}

.navbar-pages-hover a:hover {
  color: black;
  text-decoration: none;
  border-bottom: solid;
  border-color: rgb(74, 80, 187);
}

.navbar-button {
  display: flex;
  color: white;
  font-size: 12px;
  line-height: 160%;
  background-color: rgb(74, 80, 187);
  border-radius: 5px;
}

/** Footer styling **/

.footer-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 100vh;
  bottom: 15px;
  width: 100%;
  line-height: 5px;
  padding-top: 40px;
}

.footer-container h1 {
  color: blue;
  font-size: 22px;
}

.footer-social-icons {
  display: flex;
  flex-direction: row;
}

/* stylelint-disable-next-line no-descending-specificity */
.footer-social-icons a {
  text-decoration: none;
  font-size: 40px;
}
