body {
  background-color: white;
}

/** Title styling **/

.title-section {
  display: flex;
  flex-direction: row;
}

.title-container {
  font-family: "Work Sans", sans-serif;
  text-align: left;
  min-width: 50%;
  margin-left: 80px;
  margin-top: 40px;
}

.title-container h1 {
  font-size: 35px;
  text-transform: uppercase;
  background: conic-gradient(
    #ca4246 16.666%,
    #e16541 16.666%,
    #e16541 33.333%,
    #f18f43 33.333%,
    #f18f43 50%,
    #8b9862 50%,
    #8b9862 66.666%,
    #476098 66.666%,
    #476098 83.333%,
    #a7489b 83.333%
  );
  background-size: 57%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/** Title description styling **/

.title-description {
  font-size: 25px;
}

.apply-now-message {
  font-size: 25px;
  color: #476098;
  text-decoration-line: underline;
}

.program-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 30%;
  margin-top: 80px;
}

.it-banner {
  width: 500px;
  height: 300px;
  border-radius: 10px;
}

.apply-now-button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  border-radius: 10px;
}

.apply-now-button:hover {
  background-color: rgb(22, 238, 137);
}
