body {
  background-color: white;
}

/** Title styling **/

.title-section {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.title-container {
  font-family: "Work Sans", sans-serif;
  text-align: left;
  margin-left: 80px;
  margin-top: 40px;
  background-color: rgb(245, 232, 232);
  padding: 20px 20px 40px 20px;
  border-radius: 15px;
}

.title-container h1 {
  font-size: 25px;
  text-transform: uppercase;
  background: conic-gradient(
    #ca4246 16.666%,
    #e16541 16.666%,
    #e16541 33.333%,
    #f18f43 33.333%,
    #f18f43 50%,
    #8b9862 50%,
    #8b9862 66.666%,
    #476098 66.666%,
    #476098 83.333%,
    #a7489b 83.333%
  );
  background-size: 57%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/** Title description styling **/

.title-description {
  font-size: 16px;
  font-family: "Space Mono", monospace;
}

.apply-now-message {
  font-size: 16px;
  color: #476098;
  text-decoration-line: underline;
  font-family: "Space Mono", monospace;
}

.program-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 30%;
  margin-top: 80px;
}

.it-banner {
  width: 375px;
  height: 230px;
  border-radius: 10px;
}

.apply-now-buttons-container {
  margin-top: 40px;
}

.apply-now-button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 11px;
  font-family: "Space Mono", monospace;
}

.apply-now-button:hover {
  background-color: rgb(45, 126, 88);
}

.upcoming-trainings-button {
  background-color: #524f55;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 11px;
  font-family: "Space Mono", monospace;
}

.upcoming-trainings-button:hover {
  background-color: rgb(64, 66, 65);
}

/** Who can apply section styling **/

.who-can-apply-container {
  display: flex;
  flex-direction: row;
  margin-left: 80px;
  font-family: "Work Sans", sans-serif;
}

.who-can-apply {
  width: 40%;
  margin-top: 30px;
  background-color: rgb(248, 249, 252);
  padding: 20px;
}

.who-can-apply h2 {
  color: #476098;
  font-family: "Work Sans", sans-serif;
}

.who-can-apply p {
  font-size: 16px;
  font-family: "Space Mono", monospace;
}

.requirements-list {
  width: 50%;
  margin-top: 30px;
  background-color: rgb(248, 249, 252);
  padding: 20px;
}

ul {
  list-style: none;
  margin-left: 1em;
  counter-reset: line;
  font-family: "Space Mono", monospace;
}

ul > li {
  position: relative;
  margin-bottom: 1.5em;
}

ul > li::before {
  position: absolute;
  left: -2.25em;
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 0.5em;
  background-color: #faba0c;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  line-height: 1.25em;
  counter-increment: line;
  content: counter(line);
}

/** Curriculum styling **/

.curriculum-container {
  display: flex;
  flex-direction: row;
  margin-left: 80px;
  font-family: "Work Sans", sans-serif;
  color: #476098;
  margin-top: 20px;
}

.curriculum-languages {
  min-width: 60%;
}

.curriculum-buttons-container {
  min-width: 10%;
}

.curriculum-buttons {
  display: flex;
  flex-direction: column;
}

.programming-languages-logo {
  width: 680px;
  height: 250px;
  border-radius: 20px;
}

/** Final project styling **/

.final-project-container {
  display: flex;
  flex-direction: row;
  margin-left: 80px;
  font-family: "Work Sans", sans-serif;
  margin-top: 20px;
}

.final-project-description {
  display: flex;
  flex-direction: column;
  min-width: 40%;
  line-height: 25px;
}

.final-project-img {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 45%;
}

.final-project-img img {
  border-radius: 20px;
}

.final-project-description h2 {
  font-size: 25px;
  text-transform: uppercase;
  color: #476098;
}

.final-project-description p {
  font-size: 16px;
  font-family: "Space Mono", monospace;
}

.discover-more-button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 11px;
  font-family: "Space Mono", monospace;
}

/** Mentorship section styling **/

.mentorship-container {
  display: flex;
  flex-direction: row;
  margin-left: 80px;
  font-family: "Work Sans", sans-serif;
  margin-top: 40px;
  background-color: rgb(248, 249, 252);
  padding: 20px;
}

.mentorship-img-container {
  display: flex;
  justify-content: center;
  min-width: 50%;
}

.mentorship-img-container img {
  border-radius: 20px;
  width: 450px;
  height: 340px;
}

.mentorship-description {
  min-width: 30%;
  padding: 30px;
}

.mentorship-description h2 {
  font-size: 25px;
  text-transform: uppercase;
  color: #476098;
}

.mentorship-description p {
  font-family: "Space Mono", monospace;
  line-height: 20px;
}
